<h1>Cocktails#index</h1>
<p>Find me in app/views/cocktails/index.html.erb</p>

<% @cocktails.each do |cocktail| %>
  <div class="cocktails-card">
    <%= link_to cocktail_path(cocktail) do %>
    <div class="cocktails-name">
      <%= cocktail.name %>
    </div>
    <% end %>
    <div class="cocktails-ingredients">
      <% cocktail.doses.each do |dose| %>
        <%= dose.ingredient.name %>
        (<%= dose.description %>)
      <% end %>
    </div>
    <div class="cocktails-add-ingredient">
      <%= link_to 'Add Ingedient (dose)', new_cocktail_dose_path(cocktail) %>
    </div>
  </div>
<% end %>

<%= link_to new_cocktail_path do %>
  <i class="fas fa-plus"></i> Add Cocktail
<% end %>
